{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!----Header---->
<div class="container-fluid header-title">
    <img class="img-fluid header-img" src="{% static 'images/header/display-4.jpg' %}">
    <div class="text-center header-text">
      <h1>About Nail Deck</h1>
    </div>
</div>
<!----Content---->
<div class="container-fluid">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">About Us</h1>
      <h4 class="lead">Inspired by the famous pirates of the sea, we bring the buried treasure to your home. With a variety of colours, it is perfect for any captain. Created in 2018, Nail Deck provides top quality, vegan nail varnishes. Each varnish is created by hand by our team based in England.</h4>
    </div>
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Our Nail Polishes</h1>
      <h4 class="lead">All of our products are Vegan and cruelty free ingedients.</h4>
    </div>
    <img class="img-fluid" src="{% static 'images/header/display-9.jpg' %}">
</div>
<!---Social Images--->
{% include 'components/socialabout.html' %}
{% endblock %}