{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<!----Header Content---->
<div class="container-fluid header-title">
    <img class="img-fluid header-img" src="{% static 'images/header/display-12.jpg' %}">

    <div class="header-text text-center">
    <h2 class="contact-title">Contact Us</h2>
    </div>
</div>

<!--------Sent--------->
<div class="container text-center">
    Sent
</div>>

<!---Social Images--->
{% include 'components/socialcontact.html' %}

{% endblock %}