{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<section class="container-fluid">

    <!----Header Content---->
    <div class="container-fluid header-title">
        <img class="img-fluid header-img" src="{% static 'images/header/display-12.jpg' %}">
        <div class="header-text text-center">
        <h2 class="contact-title">Contact Us</h2>
        </div>
    </div>

    <!--------Sent--------->
    <div class="container text-center py-3">
        <h2>Sent! Thank you for you message. A member of our team will be contact you shortly.</h2>
    </div>

    <!---Social Images--->
    {% include 'components/socialcontact.html' %}
</section>
{% endblock %}