{% extends "base.html" %}
{% block content %}
<div class="col-sm-12">
            <form method="POST" class="form" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="form__group">
                    <label class="form__group__label" for="name">Name<span class="form__required">*</span></label>
                    {{contact_form.name}}
                </div>
                <div class="form__group">
                    <label class="form__group__label" for="email">Email<span class="form__required">*</span></label>
                    {{contact_form.email}}
                </div>
                <div class="form__group">
                    <label class="form__group__label" for="message">Message<span class="form__required">*</span></label>
                    {{contact_form.message}}
                </div>
                <button class="form__submit btn btn--primary" type="submit">Send Message</button>
            </form>
        </div>
{% endblock %}