{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!----Header Display---->
<div class="container-fluid">
    <div class="header-text text-center">
        <h1>Welcome Aboard Nail Deck</h1>
        <h2>Nail Deck is inspired by the famous pirates of the sea and bring the buried treasure to your home.</h2>
    </div>
    <img class="img-fluid header-img" src="{% static 'images/display-1.jpg' %}">
</div>

<!-----intro display------->
   {% include 'components/indexintro.html' %}

<!----image divider----->
<div class="container-fluid">
    <img class="img-fluid" src="{% static 'images/display-10.jpg' %}">
</div>

<!---Social Images--->
   {% include 'components/socialindex.html' %}

{% endblock %}