{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!----Header Display---->
<div class="container-fluid">
    <img class="img-fluid" src="{% static 'images/display-1.jpg' %}">
    <div class="px-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Welcome Aboard Nail Deck</h1>
      <h4 class="lead">Nail Deck is inspired by the famous pirates of the sea and bring the buried treasure to your home.</h4>
    </div>
    <div class="container-fluid row py-3">
    </div>
</div>

<div class="row text-center py-5">
{% if user.is_authenticated %}
<div class="container-fluid">
            <h2><a href="{% url 'products' %}">View Our Treatures</a></h2>
            <p>Description about products.</p>
            <a class="btn btn-dark" href="{% url 'products' %}" role="button">View our products »</a>
    </div>
{%  else %}
        <!---products link--->
        <div class="col-lg-4">
            <h2><a href="{% url 'products' %}">View Our Treatures</a></h2>
            <p>Description about products.</p>
            <a class="btn btn-dark" href="{% url 'products' %}" role="button">View our products »</a>
        </div>
    <!---login link--->
        <div class="col-lg-4">
            <h2><a href="{% url 'login' %}">Welcome Back Aboard</a></h2>
            <p>Description about login.</p>
            <a class="btn btn-dark" href="{% url 'login' %}" role="button">Log In »</a>
        </div>
    <!---register link--->
        <div class="col-lg-4">
            <h2><a href="{% url 'register' %}">Become A Pirate</a></h2>
            <p>Description about register.</p>
            <a class="btn btn-dark" href="{% url 'register' %}" role="button">Create an account »</a>
        </div>

{% endif %}
</div>

<div class="container-fluid">
    <img class="img-fluid" src="{% static 'images/display-10.jpg' %}">
</div>

<!---Info-->
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

<!---Your Images--->
<div class="container-fluid">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Your Images</h1>
      <h4 class="lead">We love your images of our varnishes. Tag #NAILDECK or @NailDeck and you may even be features on our website.</h4>
    </div>
    <div class="row">
        <div class="insta-accounts col-sm-12 col-md-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-1.jpg' %}">
            </a>
        <div class="insta-accounts">
            <a href="https://www.instagram.com/">@JessicaFair</a>
        </div>
        </div>
        <div class="insta-accounts col-sm-12 col-md-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-2.jpg' %}">
            </a>
            <div class="insta-accounts">
                <a href="https://www.instagram.com/">@Sammy_Doe</a>
            </div>
        </div>
        <div class="insta-accounts col-sm-12 col-md-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-3.jpg' %}">
            </a>
            <div class="insta-accounts">
                <a href="https://www.instagram.com/">@Kit.E</a>
            </div>
        </div>
        <div class="insta-accounts col-sm-12 col-md-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-4.jpg' %}">
            </a>
        <div class="insta-accounts">
            <a href="https://www.instagram.com/">@M.Bay</a>
        </div>
        </div>
    </div>
</div>

{% endblock %}