{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!----Header Display---->
<div class="container">
    <img class="img-fluid" src="{% static 'images/display-5.jpg' %}">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Payments</h1>
      <h4 class="lead">We accept payments with credit cards, Master Card and Paypal.</h4>
      <h4 class="lead">We do not take any responsabilies for issues with PayPal. We recommend that you contact PayPal's customer service team.</h4>
    </div>
    <img class="img-fluid" src="{% static 'images/display-7.jpg' %}">
</div>

<!---Your Images--->
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Your Images</h1>
      <h4 class="lead">We love your images of our varnishes. Tag #NAILDECK or @NailDeck and you may even be features on our website.</h4>
    </div>
    <div class="row">
        <div class="insta-accounts col-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-9.jpg' %}">
            </a>
        <div class="insta-accounts">
            <a href="https://www.instagram.com/">@StaceyB</a>
        </div>
        </div>
        <div class="insta-accounts col-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-10.jpg' %}">
            </a>
            <div class="insta-accounts">
                <a href="https://www.instagram.com/">@Beccki</a>
            </div>
        </div>
        <div class="insta-accounts col-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-11.jpg' %}">
            </a>
            <div class="insta-accounts">
                <a href="https://www.instagram.com/">@11Beth</a>
            </div>
        </div>
        <div class="insta-accounts col-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-12.jpg' %}">
            </a>
        <div class="insta-accounts">
            <a href="https://www.instagram.com/">@Ophelia</a>
        </div>
        </div>
    </div>
</div>
{% endblock %}