{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!----Content---->
<div class="container-fluid header-title">
    <img class="img-fluid" src="{% static 'images/header/display-6.jpg' %}">
    <div class="header-text header-img text-center">
      <h1>Terms & Conditions</h1>
    </div>
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h4 class="lead">Any issues with our website or any of our nail poolshes, please contact us via our social media. Please contact us via <strong><a href="https://en-gb.facebook.com/">Facebook</a></strong> or <strong><a href="https://www.instagram.com/?hl=en">Instagram</a></strong>.</h4>
        <h4 class="lead">Please note that nail polishes will vary from the images.</h4>
        <h4 class="lead">Please note that some shades may vary from the image. The pictures see are for display purposes only.</h4>
        <h4 class="lead">We are not responsible for delays on delivery.</h4>
        <h4 class="lead">We are not responsible for delays when orders are dispatched.</h4>    
    </div>
    <img class="img-fluid" src="{% static 'images/header/display-8.jpg' %}">
</div>

<!---Social Images--->
{% include 'components/socialterms.html' %}

{% endblock %}