{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!----Content---->
<div class="container">
    <img class="img-fluid" src="{% static 'images/display-6.jpg' %}">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Terms & Conditions</h1>
        <h4 class="lead">Any issues with our website or any of our nail poolshes, please contact us via our social media. Please contact us via <strong><a href="https://en-gb.facebook.com/">Facebook</a></strong> or <strong><a href="https://www.instagram.com/?hl=en">Instagram</a></strong>.</h4>
        <h4 class="lead">Please note that nail polishes will vary from the images.</h4>
        <h4 class="lead">Please note that some shades may vary from the image. The pictures see are for display purposes only.</h4>
        <h4 class="lead">We are not responsible for delays on delivery.</h4>
        <h4 class="lead">We are not responsible for delays when orders are dispatched.</h4>    
    </div>
    <img class="img-fluid" src="{% static 'images/display-8.jpg' %}">
</div>


<!---Your Images--->
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Your Images</h1>
      <h4 class="lead">We love your images of our varnishes. Tag #NAILDECK or @NailDeck and you may even be features on our website.</h4>
    </div>
    <div class="row">
        <div class="insta-accounts col-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-13.jpg' %}">
            </a>
        <div class="insta-accounts">
            <a href="https://www.instagram.com/">@KylieJ</a>
        </div>
        </div>
        <div class="insta-accounts col-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-14.jpg' %}">
            </a>
            <div class="insta-accounts">
                <a href="https://www.instagram.com/">@3lli3G</a>
            </div>
        </div>
        <div class="insta-accounts col-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-15.jpg' %}">
            </a>
            <div class="insta-accounts">
                <a href="https://www.instagram.com/">@JennyFey</a>
            </div>
        </div>
        <div class="insta-accounts col-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-16.jpg' %}">
            </a>
        <div class="insta-accounts">
            <a href="https://www.instagram.com/">@KingK</a>
        </div>
        </div>
    </div>
</div>
{% endblock %}