{% extends 'base.html' %}

{% block content %}

<div class="col-sm-12 col-md-8">
    <div class="container text-center">
        <h1>Terms & Conditions</h1>
        <p>Any issues with our website or any of our nail poolshes, please contact us via our social media. Please contact us via <a href="https://en-gb.facebook.com/">Facebook</a> or <a href="https://www.instagram.com/?hl=en">Instagram</a>.</p>
        <p>Please note that nail polishes will vary from the images.</p>
        <p>We are not responsible for delays on delivery.</p>
        <p>When order is processed, an email will be sent to you about confirmation. If email not come through, please check junk folder before contacting our team.</p>
    </div>
    <div class="container-fluid">
        <img src="static/css/images/product.header.jpg"/>
    </div>
</div>

{% endblock %}