{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<section class="container-fluid">

    <!----Header Content---->
    <div class="container-fluid header-title">
        <img class="img-fluid header-img" src="{% static 'images/header/display-13.jpg' %}">
    </div>

    <!--------Form--------->
    <div class="container text-center">
    <h2 class="py-3">Contact Us</h2>
        <div class="py-3">
        <p>Have a question you need answered? Fill out a form below and we will answer it.</p>
        </div>
        <div class="py-3 container-fluid"> 
            <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="container">
                        {{ form | as_bootstrap }}
                    
                <button class="btn-primary btn-lg" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

<!----image divider----->
    <img class="img-fluid" src="{% static 'images/header/display-2.jpg' %}" alt="divider-img">

    <!---Social Images--->
    {% include 'components/socialcontact.html' %}
</section>
{% endblock %}