<footer class="container-fluid text-center navbar navbar-expand-lg navbar-dark bg-primary">
<!-- Contact Container -->
    <div class="col-12">
      <h3>Contact Us</h3>
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Twitter</p>
    </div>
<!-----Brand/Github----->
<div class="col-12">
    <p class="mb-1">© 2018-2020 Nail Deck</p>
    <p class="mb-1"><a href="#">Created By Katerina Elsasser</a></p>
</div>
</footer>
<a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>