<footer class="container-fluid text-center navbar navbar-expand-lg navbar-dark bg-primary">
<!-- Contact Container -->
<div class="container row">
    <div class="col-sm-12 col-md-6">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Social Media</h3>
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Twitter</p>
    </div>
</div>
<!-----Brand/Github----->
<div class="col-sm-12 col-md-6">
    <p class="mb-1">© 2018-2020 Nail Deck</p>
    <p class="mb-1"><a href="#">Created By Katerina Elsasser</a></p>
</div>
  </footer>