{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

<!-------password reset form------>
<div class="container-fluid header-title">
    <img class="img-fluid header-img" src="{% static 'images/display-1.jpg' %}">
    <div class="header-text text-center">
        <h2 class="head-title">Check Emails</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="container text-center py-3">
        <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
    </div>
</div>

{% endblock %}