{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<section class="container-fluid">
    <!----Header Display---->
    <div class="container-fluid header-title">
        <img class="img-fluid header-img" src="{% static 'images/header/display-2.jpg' %}">
        <div class="header-text text-center">
            <h2>Nail Polishes</h2>
        </div>
    </div>

    <!---Intro------>
    <div class="container py-3 text-center">
        <h2>Check our nail polish treasures and explore the items every pirate hunts for. Scroll down to see all nail polish products.</h2>
        <div class="row">
        <!-----Polish display------->
            <div class="py-3 container text-center col-md-6">
                <h2><a href="{% url 'products' %}"><i class="fa fa-gem header-fa"></i></a></h2>
                <h2 class="subheader">View All Products</h2>
                <a class="btn btn-primary" href="{% url 'products' %}" role="button">View »</a>
            </div>
        <!-----Care display------->
            <div class="container text-center py-3 col-md-6">
                <h2><a href="{% url 'care_category' %}"><i class="fa fa-hand-holding-water header-fa"></i></a></h2>
                <h2 class="subheader">View Nail Care</h2>
                <a class="btn btn-primary" href="{% url 'care_category' %}" role="button">View »</a>
            </div>
        </div>
    </div>

    <!-----Product Display------>
    <div class="container-fluid">
        <div class="row mb-2 px-3 py-5">
        {% for polish in polishs %}
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="product card-img-top" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                        <div class="card-body text-center">
                            <h2 class="card-title">{{ polish.product.name }}</h2>
                            <p class="card-text"><strong>Description:</strong> {{ polish.product.description }}</p>
                            <p class="card-text pricing"><strong>£{{ polish.product.price }}</strong></p>
                            <div class="btn-group">
                                <form method="post" action="{% url 'add_to_cart' product.id %}">
                                    {% csrf_token %}
                                    <div class="container">
                                        <p><strong>Add Amount:</strong></p>
                                    </div>
                                    <div class="input-group container">
                                        <input name="quantity" type="number" min="0" max="10" class="form-control" value="1">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
    
    <!----contact section----->
    {% include 'components/contactsection.html' %}

</section>
    {% endblock %}