{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<!----Header Display---->
<div class="container-fluid header-title">
    <img class="img-fluid header-img" src="{% static 'images/header/display-2.jpg' %}">
    <div class="header-text text-center">
        <h1>Treasures</h1>
        <h2>Check our treasure and explore the items every pirate hunts for.</h2>
    </div>
</div>

<!-----Product Display------>
<div class="container-fluid">
    <div class="row mb-2 px-3 py-5">
    {% for product in products %}
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="product card-img-top" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <div class="card-body text-center">
                    <h1 class="card-title">{{ product.name }}</h1>
                    <h2 class="card-text"><strong>Description:</strong> {{ product.description }}</h2>
                    <h2 class="card-text pricing"><strong>£{{ product.price }}</strong></h2>
                    <div class="btn-group">
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="container">
                                <h2><strong>Add Amount:</strong></h2>
                            </div>
                            <div class="input-group container">
                                <input name="quantity" type="number" min="0" max="999" class="form-control" value="{{item.quantity}}">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-dark"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}