/*-------Headers--------*/
h1 {
    font-family: 'Meddon', cursive;
}

h2 {
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

/*---------navbar------------*/
.navbar-brand {
    font-family: 'Meddon', cursive;
    font-size: 2rem;
}

.nav-link {
    font-family: 'Tangerine', cursive;
    font-size: 1.875rem;
}

.icon-bar {
    background-color: #fff;
}

.badge {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    border-radius: 0.625rem;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #fff;
}

.badge-warning {
    background-color: #D9230F;
}

.topnav-right {
  float: right;
}


/*------whole website---------*/
body,
.container-fluid,
.row {
    padding: 0;
    margin: 0;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.875rem;
}

/*-------product display-----------*/
.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 9.375rem;
    height: 9.375rem;
    margin: 0 auto;
}

.pricing {
    font-size: 2rem;
}

/*------footer-----*/
footer {
    margin-top: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.footer-item {
    padding: 0;
    margin-top: 3.125rem;
}

/*---------headers-----------*/
.header-title {
    position: relative;
    width: 100%;
    margin-top: 4rem;
}

.header-img {
    position: relative;
}

.header-text {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1.9375rem;
    border-radius: 1.25rem;
}

.head-title {
    font-size: 3rem;
}

/*------your images------*/
.insta-accounts {
  padding: 0.9375rem;
  text-align: center;
}

/*--------account pages-------*/
.login-title {
    font-size: 3rem;
    font-family: 'Tangerine', cursive;
    margin: 0;
    padding: 0;
}

.accountform {
    padding-top: 1.25rem;
}

/*---------cart-----------*/

.total-amount{
    font-size: 3rem;
}

.cart-item {
    margin: 1.875rem;
}

/*----------subheader colours-------------*/
.subheader- {
    color: #D9230F;
}

/*----------icons-------------*/
.header-fa {
    font-size: 3rem;
    color: #D9230F;
}

/*----------contact/review------------*/