{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<!----Header Display---->
<div class="container">
    <img class="img-fluid" src="{% static 'images/display-3.jpg' %}">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Purchase Your Items</h1>
    </div>
</div>
<div class="conatiner-fluid px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <!----Payment form----->
    <div class="container text-center">
        <h2>Total: £{{ total }}</h2>
    </div>

    <form role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">
        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
            <legend>Delivery Details</legend>
                {{ order_form | as_bootstrap }}
            </div>
            <div class="form-group col-md-6">
                <legend>Payment Details</legend>

                {{ payment_form | as_bootstrap }}
            </div>
        </div>
        {% csrf_token %}
        <div class="form-group text-center">
            <input class="btn-dark btn-lg btn-block" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
</div>
{% endblock %}