{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<section class="container-fluid">

    <!----Header Display---->
    <div class="header-title">
        <img class="img-fluid header-img" src="{% static 'images/header/display-9.jpg' %}" alt="divider-img">
        <div class="header-text text-center">
            <h2>Confirmation</h2>    
        </div>
    </div>
    <div class="text-center">
        <!------Intro------->
        <div class="container py-3">
            <i class="fa fa-skull-crossbones header-fa"></i>
            <h2 class="col-12">Thank you for the order!</h2>
            <p class="py-2">Hi {{ user.username }}, your order has been recieved.</p>
        </div>
        <div class="row">
    <!----image divider----->
    <img class="img-fluid" src="{% static 'images/header/display-5.jpg' %}" alt="divider-img">
        <!------Review------->
            <div class="col-sm-12 col-md-6 py-3">
                <i class="fa fa-question header-fa"></i>
                <h2 class="col-12">Any queries?</h2>
                <p class="py-2">Send us a message</p>
                <a href="{% url 'contact' %}" class="btn btn-primary btn-lg">Contact Us</a>
            </div>
        <!------Queries------->
            <div class="col-sm-12 col-md-6 py-3">
                <i class="fa fa-comment header-fa"></i>
                <h2 class="col-12">Leave us a review</h2>
                <p class="py-2">Love to hear your thoughts!</p>
                <a href="{% url 'review' %}" class="btn btn-primary btn-lg">Review Us</a>
            </div>
        </div>
        <div class="container py-3 text-center">
            <p class="py-2">Thank you from our team at</p>
            <h1>Nail Deck</h1>
        </div>
    </div>
</section>
{% endblock %}