{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<!----Header Display---->
<div class="container-fluid">
    <div class="header-title text-center">
        <h1 class="display-4">Admin</h1>
    </div>
    <img class="img-fluid" src="{% static 'images/display-9.jpg' %}">
     <div class="header-title text-center">
        <h1 class="container">Welcome Captian {{ user.email }} </h1>
    </div>
    <h4 class="text-center">Welcome to the admin page, Add, delete and adjust products as well as view orders that have been placed.</h4>

</div>

<!---Admin Display---->
<div class="row">
    <!---Products---->
    <div class="container col-sm-12 col-md-6">
    <h1 class="header-title text-center">Products</h1>
    <table class="table container">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.colour }}</td>
        <td>{{ product.size }}</td>
        <td>£{{ product.price }}</td>
        <td>
                <button type="submit">Delete</button>
        </td> 
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    <!---Order---->
    <div class="container col-sm-12 col-md-6">
    <h1 class="header-title text-center">Orders</h1>
    <table class="table container">
    <thead>
        <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
    {% for all_order in all_orders %}
        <tr>
        <td>Date </td>
        <td>Name</td>
        <td>{{ all_order.order_items }}</td>
        <td>£{{ all_order.order_total }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
</div>
{% endblock %}