{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<section class="container-fluid">
    <!----Log In Form-->
    <div class="container-fluid header-title">
        <img class="img-fluid header-img" src="{% static 'images/header/display-7.jpg' %}" alt="divider-img">
        <div class="header-text text-center">
            <h2 >Log In</h2>
        </div>
    </div>

    <div class="container text-center">
        <form method="post" action="{% url 'login' %}" class="accountform">
            <fieldset class="form-group">
                {% csrf_token %}
                {{ user_form | as_bootstrap }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
            </fieldset>
        </form>
    </div>
    <div class="text-center">
        <p>
            <a href="{% url 'password_reset' %}">Forgot your password?</a>
        </p> 
        <p>
            <a href="{% url 'register' %}">Create an account today</a>
        </p> 
    </div>
</section>
{% endblock %}