{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<!----Header Display---->
<div class="container">
    <img class="img-fluid" src="{% static 'images/display-7.jpg' %}">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Log In</h1>
    </div>
</div>

<!-----content----->
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <!-----form----->
    <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
        <fieldset class="form-group">
            <legend>Login</legend>
            {% csrf_token %}
            {{ user_form | as_bootstrap }}
            
             <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
             
            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
    </form>            
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}