{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<div class="row">
    <div class="col-6">
         <img class="col-12" src="{% static 'images/display-7.jpg' %}">
    </div>
    <div class="col-6">
        <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform col-6">
            <fieldset class="form-group">
                {% csrf_token %}
                {{ user_form | as_bootstrap }}
                
                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                    <div class="text-center">
                    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p> 
                    <p><a href="{% url 'register' %}">Create an account today</a></p> 
                    </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}