{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<!----Header Display---->
<div class="container">
    <img class="img-fluid" src="{% static 'images/display-9.jpg' %}">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Welcome Back, {{ user.email }} </h1>
    </div>
</div>

<a class="nav-link" href="{% url 'logout' %}">
                <i class="fa fa-sign-out"></i> Log Out
            </a>
{% endblock %}