{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<!----Header Display---->
<div class="container-fluid">
    <div class="header-title text-center">
        <h1>Welcome Back Aboard, {{ user.email }} </h1>
        <h2>Welcome to the Nail Deck crew!</h2>
    </div>
    <img class="img-fluid" src="{% static 'images/display-9.jpg' %}">
</div>
<!-------Start Shopping-------->
<div class="container-fluid text-center py-3">
        <h1><i class="fa fa-dharmachakra"></i></h1>
        <h1 class="py-3">Start searching for your treasure today!</h1>
        <a class="btn btn-dark" href="{% url 'products' %}" role="button">Start Shopping</a>
    </div>
<!---Order History---->
<div class="container-fluid text-center py-3">
<h1 class="py-3">View Your Orders</h1>
<table class="table container">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Products</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {% if all_orders %}
    {% for all_order in all_orders %}
    <tr>
        <th>{{all_order.date}}</th>
        <td>{{ all_order_item.product.name }}</td>
        
        <td>{{all_order.total}}</td>
        </tr>
        {% endfor %}
    {% else %}
         <tr>
        <th>No Orders</th>
        <td>-</td>
        <td><a class="btn btn-dark" href="{% url 'products' %}" role="button">Order Today</a></td>
        </tr>
    {% endif %}
  </tbody>
</table>
</div>

{% endblock %}