{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<!----Header Display---->
<div class="container-fluid">
    <div class="header-text text-center">
        <h1>Purchase Your Items</h1>
    </div>
    <img class="img-fluid header-img" src="{% static 'images/display-3.jpg' %}">
</div>

<!---Basket--->
{% if total == 0 %}
    <div class="container-fluid text-center py-3">
        <h1><a href="{% url 'products' %}"><i class="fa fa-shopping-cart"></i></a></h1>
        <h2><a href="{% url 'products' %}"><strong>Shopping cart is empty</strong></a></h2>
        <a class="btn btn-dark" href="{% url 'products' %}" role="button">Continue Shopping</a>
    </div>
{% else %}
    <div class="conatiner-fluid px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    
    <div class="row">
        <div class="row col-md-8 order-md-1">
            {% for item in cart_items %}
            <div class="col-sm-12 col-md-3 mb-4">
                    <div class="card border-0 shadow">
                        <div class="product card-img-top" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                        <div class="card-body text-center">
                        <h1 class="card-title">{{ item.product.name }}</h1>
                        <h2 class="card-text">{{ item.product.description }}</h2>
                        <h1 class="card-text">£{{ item.product.price }}</h1>
                            <div class="btn-group">
                                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <input name="quantity" type="number" min="0" max="999" class="form-control" value="{{item.quantity}}">
                                </div>
                            </div>
                            <div class="px-3">
                            <button type="submit" class="btn-dark"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                            </div>
                        </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <!---Total-->
        <div class="col-md-4 order-md-2 mb-4">
        <h1 class="text-center mb-3 py-3">
            Your cart
        </h1>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between">
            <div>
                <h2>Order Subtotal</h2>
            </div>
            <span class="text-muted">£{{ total }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h2>Delivery</h2>
            </div>
            <span class="text-muted">Free</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
            <h2><strong>Total</strong></h2>
            <strong>£{{ total }}</strong>
            </li>
        </ul>
        <div class="text-center">   
                <a href="{% url 'checkout' %}" class="btn-dark btn-lg btn-block" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
            </div>
        </div>
    </div>
    </div>
{% endif %}


{% endblock %}