{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<section class="container-fluid">
    <!----Header Content---->
    <div class="container-fluid header-title">
        <img class="img-fluid header-img" src="{% static 'images/header/display-13.jpg' %}">
        <div class="header-text text-center">
        <h2>Leave A Review</h2>
        </div>
    </div>

    <div class="container-fluid text-center py-4">
        <div class="row">
            <div class="col-6 py-3">
                <h2><a href="#reviews"><i class="fa fa-gem header-fa"></i></a></h2>
                <h2 class="py-3">View Other Reviews</h2>
                <a class="btn btn-primary" href="#reviews" role="button">View</a>
            </div>
            <div class="col-6 py-3">
                <h2><a href="#review-form"><i class="fa fa-cogs header-fa"></i></a></h2>
                <h2 class="py-3">Leave A Review</h2>
                <a class="btn btn-primary" href="#review-form" role="button">Review</a>
            </div>
        </div>
    </div>


<!---img divider------>
    <img class="img-fluid" src="{% static 'images/header/display-9.jpg' %}" alt="divider-img">

    <!----View Reviews------>
    <div class="text-center container">
        <div class="py-3">
            <h2>Check out what other pirates have thought about us.</h2>
        </div>
        <div class="row mb-2 px-3 py-5" id="reviews">
            {% for review in reviews %}
            <div class="col-sm-12 col-md-6">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <h2 class="card-header">{{ review.review_star }} Stars</h2>
                    <div class="card-body">
                        <p class="card-text">{{ review.review_message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

<!---img divider------>
    <img class="img-fluid" src="{% static 'images/header/display-3.jpg' %}" alt="divider-img">

    <!--------Form--------->
    <div class="container text-center" id="review-form">
        <div class="py-3">
        <h2>Leave us a review today! We would love to hear your thoughts.</h2>
        </div>
        <div class="py-3"> 
            <form method="POST" action="{% url 'review' %}">
                {% csrf_token %}
                <div class="form__group">
                    {{form | as_bootstrap }}
                <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

<!---img divider------>
    <img class="img-fluid" src="{% static 'images/header/display-7.jpg' %}" alt="divider-img">

    <!---Social Images--->
    {% include 'components/socialcontact.html' %}
</section>
{% endblock %}