<footer class="container-fluid text-center bg-dark">
    <div class="row">
        <div class="col-6">
            <h4>About</h4>
            <p><a href="#">About us</a></p>
            <p><a href="#">Payments</a></p>
            <p><a href="#">Terms</a></p>
        </div>

        <div class="col-6">
            <h4>We accept</h4>
            <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
            <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
            </div>
    </div>
    <div class="container-fluid">
        <p>
            <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
            <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
            <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
            <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
            <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
        </p>
        <h6>© 2018-2020 Nail Decks</h6>
    </div>
</footer>
