{% load staticfiles %}
<div class="row text-center py-5">
{% if user.is_authenticated %}
    <div class="container-fluid">
        <h1><a href="{% url 'products' %}"><i class="fa fa-gem"></i></a></h1>
        <h2><a href="{% url 'products' %}">View Our Treatures</a></h2>
        <p>We have travelled far and wide to get the treasures from around the world.</p>
        <a class="btn btn-dark" href="{% url 'products' %}" role="button">View our products »</a>
    </div>
{%  else %}
        <!---products link--->
    <div class="col-lg-4">
        <h1><a href="{% url 'products' %}"><i class="fa fa-gem"></i></a></h1>
        <h2><a href="{% url 'products' %}">View Our Treatures</a></h2>
        <p>We have travelled far and wide to get the treasures from around the world.</p>
        <a class="btn btn-dark" href="{% url 'products' %}" role="button">View our products »</a>
    </div>
    <!---login link--->
    <div class="col-lg-4">
        <h1><a href="{% url 'login' %}"><i class="fa fa-skull-crossbones"></i></a></h1>
        <h2><a href="{% url 'login' %}">Welcome Back Aboard</a></h2>
        <p>Have an account with us? Then come back aboard the Nail Deck group and start shopping today.</p>
        <a class="btn btn-dark" href="{% url 'login' %}" role="button">Log In »</a>
    </div>
    <!---register link--->
    <div class="col-lg-4">
        <h1><a href="{% url 'login' %}"><i class="fa fa-dharmachakra"></i></a></h1>
        <h2><a href="{% url 'register' %}">Become A Pirate</a></h2>
        <p>Don't have an account? Become a pirate today to shop our range.</p>
        <a class="btn btn-dark" href="{% url 'register' %}" role="button">Create an account »</a>
    </div>
{% endif %}
</div>