{% load staticfiles %}
<div class="container-fluid">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1>Your Images</h1>
      <p class="py-3">We love your images of our varnishes. Tag #NAILDECK or @NailDeck and you may even be features on our website.</p>
    </div>
    <div class="row">
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-13.jpg' %}">
            </a>
        <div class="insta-accounts">
            <h2><a href="https://www.instagram.com/">@KylieJ</a></h2>
        </div>
        </div>
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-14.jpg' %}">
            </a>
            <div class="insta-accounts">
                <h2><a href="https://www.instagram.com/">@3lli3G</a></h2>
            </div>
        </div>
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-15.jpg' %}">
            </a>
            <div class="insta-accounts">
                <h2><a href="https://www.instagram.com/">@JennyFey</a></h2>
            </div>
        </div>
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram-16.jpg' %}">
            </a>
        <div class="insta-accounts">
            <h2><a href="https://www.instagram.com/">@KingK</a></h2>
        </div>
        </div>
    </div>
</div>