{% load staticfiles %}
<div class="container-fluid">
    <div class="py-2 text-center">
        <h2>Your Images</h2>
        <p class="py-3">We love your images of our varnishes. Tag #NAILDECK or @NailDeck and you may even be features on our website.</p>
        <div class="row">
            <div class="col-sm-12 col-md-6 py-2">
                <i class="fa fa-images header-fa"></i>
                <h2 class="col-12">View Our Social</h2>
                <a href="{% url 'social' %}" class="btn btn-primary btn-lg">View More</a>
            </div>
            <div class="col-sm-12 col-md-6 py-2">
                <i class="fa fa-gem header-fa"></i>
                <h2 class="col-12">View Our Treasures</h2>
                {% if user.is_authenticated %}
                        <a href="{% url 'products' %}" class="btn btn-primary btn-lg">View All</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">View All</a>
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
            <div class="insta-accounts col-sm-3">
            {% if user.is_authenticated %}
                <a href="{% url 'products' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-13.jpg' %}">
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-13.jpg' %}">
                </a>
            {% endif %}
            <div class="insta-accounts">
                <p><a href="https://www.instagram.com/">@KylieJ</a></p>
            </div>
            </div>
            <div class="insta-accounts col-sm-3">
            {% if user.is_authenticated %}
                <a href="{% url 'products' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-14.jpg' %}">
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-14.jpg' %}">
                </a>
            {% endif %}
                <div class="insta-accounts">
                    <p><a href="https://www.instagram.com/">@3lli3G</a></p>
                </div>
            </div>
            <div class="insta-accounts col-sm-3">
            {% if user.is_authenticated %}
                <a href="{% url 'products' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-15.jpg' %}">
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-15.jpg' %}">
                </a>
            {% endif %}
                <div class="insta-accounts">
                    <p><a href="https://www.instagram.com/">@JennyFey</a></p>
                </div>
            </div>
            <div class="insta-accounts col-sm-3">
            {% if user.is_authenticated %}
                <a href="{% url 'products' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-16.jpg' %}">
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-16.jpg' %}">
                </a>
            {% endif %}
            <div class="insta-accounts">
                <p><a href="https://www.instagram.com/">@KingK</a></p>
            </div>
            </div>
    </div>
</div>