{% load staticfiles %}
<div class="container-fluid">
    <div class="container-fluid">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>Your Images</h1>
        <p class="py-3">We love your images of our varnishes. Tag #NAILDECK or @NailDeck and you may even be features on our website.</p>
        <div class="row">
            <div class="col-sm-12 col-md-6 py-3">
            <a class="btn btn-dark" href="{% url 'social' %}" role="button">View more »</a>
            </div>
            <div class="col-sm-12 col-md-6 py-3">
            <a class="btn btn-dark" href="{% url 'products' %}" role="button">View treasure »</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram/instagram-5.jpg' %}">
            </a>
        <div class="insta-accounts">
            <h2><a href="https://www.instagram.com/">@BethH</a></h2>
        </div>
        </div>
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram/instagram-6.jpg' %}">
            </a>
            <div class="insta-accounts">
                <h2><a href="https://www.instagram.com/">@Lucy_Smith</a></h2>
            </div>
        </div>
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram/instagram-7.jpg' %}">
            </a>
            <div class="insta-accounts">
                <h2><a href="https://www.instagram.com/">@LouiseXOX</a></h2>
            </div>
        </div>
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram/instagram-8.jpg' %}">
            </a>
        <div class="insta-accounts">
            <h2><a href="https://www.instagram.com/">@CBennet</a></h2>
        </div>
        </div>
    </div>
</div>