{% load staticfiles %}
<div class="container-fluid">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="index-header"><strong>Your Images</strong></h2>
        <p class="py-3">We love your images of our varnishes. Tag #NAILDECK or @NailDeck and you may even be features on our website.</p>
        <div class="row">
            <div class="col-sm-12 col-md-6 py-3">
            <a class="btn btn-dark" href="{% url 'social' %}" role="button">View more »</a>
            </div>
            <div class="col-sm-12 col-md-6 py-3">
            <a class="btn btn-dark" href="{% url 'products' %}" role="button">View treasure »</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram/instagram-1.jpg' %}">
            </a>
        <div class="insta-accounts">
            <h2><a href="https://www.instagram.com/">@JessicaFair</a></h2>
        </div>
        </div>
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram/instagram-2.jpg' %}">
            </a>
            <div class="insta-accounts">
                <h2><a href="https://www.instagram.com/">@Sammy_Doe</a></h2>
            </div>
        </div>
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram/instagram-3.jpg' %}">
            </a>
            <div class="insta-accounts">
                <h2><a href="https://www.instagram.com/">@Kit.E</a></h2>
            </div>
        </div>
        <div class="insta-accounts col-sm-3">
            <a href="{% url 'products' %}">
                <img class="img-fluid" src="{% static 'images/instagram/instagram-4.jpg' %}">
            </a>
        <div class="insta-accounts">
            <h2><a href="https://www.instagram.com/">@M.Bay</a></h2>
        </div>
        </div>
    </div>
</div>