{% load staticfiles %}
<div class="py-2 text-center">
        <i class="fa fa-images header-fa"></i>
        <h2>Your Images</h2>
        <p class="py-3">We love your images of our varnishes. Tag #NAILDECK or @NailDeck and you may even be features on our website.</p>
        <a href="{% url 'social' %}" class="btn btn-primary btn-lg">View More</a>
    </div>
    <div class="row">
            <div class="insta-accounts col-sm-3">
            {% if user.is_authenticated %}
                <a href="{% url 'products' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-9.jpg' %}" alt="social-img">
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-9.jpg' %}" alt="socail-img">
                </a>
            {% endif %}
            <div class="insta-accounts">
                <p><a href="https://www.instagram.com/">@BethH</a></p>
            </div>
            </div>
            <div class="insta-accounts col-sm-3">
            {% if user.is_authenticated %}
                <a href="{% url 'products' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-10.jpg' %}" alt="social-img">
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-10.jpg' %}" alt="social-img">
                </a>
            {% endif %}
                <div class="insta-accounts">
                    <p><a href="https://www.instagram.com/">@Lucy_Smith</a></p>
                </div>
            </div>
            <div class="insta-accounts col-sm-3">
            {% if user.is_authenticated %}
                <a href="{% url 'products' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-11.jpg' %}" alt="social-img">
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-11.jpg' %}" alt="social-img">
                </a>
            {% endif %}
                <div class="insta-accounts">
                    <p><a href="https://www.instagram.com/">@LouiseXOX</a></p>
                </div>
            </div>
            <div class="insta-accounts col-sm-3">
            {% if user.is_authenticated %}
                <a href="{% url 'products' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-12.jpg' %}" alt="social-img">
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img class="img-fluid" src="{% static 'images/instagram-12.jpg' %}" alt="social-img">
                </a>
            {% endif %}
            <div class="insta-accounts">
                <p><a href="https://www.instagram.com/">@CBennet</a></p>
            </div>
            </div>

    </div>