{% load staticfiles %}
<div class="row text-center">
    <!---products link--->
    <div class="py-3 col-sm-12 col-md-4">
        <h1><a href="{% url 'products' %}"><i class="fa fa-gem"></i></a></h1>
        <h2>View Our Treatures</h2>
        <p>We have traveled far and wide to get the treasures of nail polishes and nail care available to buy.</p>
        <a class="btn btn-primary" href="{% url 'products' %}" role="button">View our products »</a>
    </div>
    <!---login link--->
    <div class="py-3 col-sm-12 col-md-4">
        <h1><a href="{% url 'login' %}"><i class="fa fa-skull-crossbones"></i></a></h1>
        <h2>Welcome Aboard</h2>
        <p>Have an account with us? Then come back aboard the Nail Deck group and start shopping today.</p>
        <a class="btn btn-primary" href="{% url 'login' %}" role="button">Log In »</a>
    </div>
    <!---register link--->
    <div class="py-3 text-center col-sm-12 col-md-4">
        <h1><a href="{% url 'login' %}"><i class="fa fa-dharmachakra"></i></a></h1>
        <h2>Become A Pirate</h2>
        <p>Don't have an account with us? Become a pirate of NailDeck crew to shop products today.</p>
        <a class="btn btn-primary" href="{% url 'register' %}" role="button">Create an account »</a>
    </div>
</div> 