<footer class="border-top">
    <div class="row footer-item">
        <div class="col-md-6 mt-md-0 mt-3">
            <h1>Nail Deck</h1>
            <!---GitHub---->
            <div class="py-3">© 2018-2020 Katerina Elsasser:
                <a href="https://github.com/katerinaelsasser/NailDeck"> GitHub</a>
            </div>
        </div>
        <!----Pages---->
        <div class="col-sm-12 col-md-3 mb-md-0 mb-3">
            <h2>Pages</h2>
            <ul class="list-unstyled">
                <li>
                        <a class="text-muted" href="{% url 'about' %}">About Us</a>
                </li>
                <li>
                        <a class="text-muted" href="{% url 'contact' %}">Contact</a>
                </li>
                <li>
                        <a class="text-muted" href="{% url 'review' %}">Leave A Review</a>
                </li>
                <li>
                        <a class="text-muted" href="{% url 'terms' %}">Terms & Conditions</a>
                </li>
                <li>
                        <a class="text-muted" href="{% url 'social' %}">#NailDeck</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3 mb-md-0 mb-3">
            <h2><a href="#Navbar">Back To Top ^</h2>
        </div>
    </div>    
</footer>