{% load static from staticfiles %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="Navbar">
        <a class="navbar-brand mb-0 h1" href="{% url 'homepage' %}">
            Nail Deck
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarColor02">
    <ul class="navbar-nav">
       
        {% if user.is_authenticated %}
         <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="productsDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Treasure
            </a>
            <div class="dropdown-menu" aria-labelledby="productsDropdownMenuLink">
                <p>     
                    <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
                </p> 
                <p>    
                    <a class="dropdown-item" href="{% url 'polish_category' %}">Nail Polishes</a>
                </p>
                <p>
                    <a class="dropdown-item" href="{% url 'care_category' %}">Nail Care</a>
                </p>
            </div>
        </li><li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">
                About
            </a>
        </li>   
        <li class="nav-item">
            <a class="nav-link" href="{% url 'review' %}">
                Review
            </a>
        </li>  
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">
                Contact
            </a>
        </li>  
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-skull-crossbones"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="profileDropdownMenuLink">
            <p>     
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            </p> 
            <p>    
                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
            </p>
            </div>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="{% url 'view_cart' %}">
                    <i class="fa fa-shopping-basket"></i>
                    {% if product_count > 0 %}
                    <label class="badge badge-warning">{{ product_count }}</label>
                    {% endif %}
                </a>
        </li>
        {%  else %}
`       <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">                
                Treasure
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">
                About
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="{% url 'review' %}">
                Review
            </a>
        </li>    
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">
                Contact
            </a>
        </li>  
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="loginMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="loginMenuLink">
            <p>
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
            </p> 
            <p>
                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            </p> 
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
                <i class="fa fa-shopping-basket"></i>
            </a>
        </li>    
    {% endif %}

    </ul>
  </div>
</nav>